/* CSS */

html {
	scroll-behavior: smooth;
}

body {
	background-color: #1d2223;
	color: #e2e2e2;
	margin: 0;
	font-family: "Titillium";
	font-size: 1rem;
}

/* global */

a {
	text-decoration: none;
	color: inherit;
	letter-spacing: 0.125rem;
	opacity: 0.75;
	transition: opacity 0.5s, color 0.5s;
}

h1 {
	font-family: "Bebas Neue";
	font-size: 2rem;
	letter-spacing: 1rem;
	margin-top: 100px;
	margin-bottom: 100px;
	opacity: 0.75;
	padding-left: 19px;
}

p {
	opacity: 0.75;
	margin: 0px;
	text-align: left;
}

textarea {
	resize: none;
	border: 1px solid #7ec145;
	background-color: #1d2223;
	color: white;
	padding: 10px;
	font-family: "Titillium";
	height: 154px;
}

/* header */

#header {
	display: flex;
	width: 100%;
	position: fixed;
	top: 0px;
	background-color: #171d1e;
	z-index: 10;
}

.header-container {
	display: flex;
	position:relative;
	width: 100%;
	margin: 0 auto;
	padding: 25px;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.header-logo {
	display: flex;
	max-height: 60px;
	max-width: 320px;
	align-items: center;
	object-fit: contain;
}

#header-logo-style {
	opacity: 1;
}

#website-logo {
	max-width: 320px;
	height: 30px;
}

/* navigation */

.header-nav, .social-media {
	display: flex;
	list-style: none;
	align-items: center;
	padding: 0px;
	max-width: 300px;
	position: relative;
	justify-content: space-between;
}

.header-nav li {
	padding-left: 25px;
}

.nav-item span {
	opacity: 0.75;
	transition: opacity 0.5s, color 0.5s;
	font-family: "Bebas Neue";
	font-weight: 400;
}

.nav-item span:hover, a:hover {
	opacity: 1;
	color: #7ec145;
}

#nav-separator {
	opacity: 0.5;
	font-family: "Bebas Neue";
	cursor: default;
}

@media screen and (max-width: 705px){
	main {
		margin-top: 120px;
	}
	
	.header-container {
		flex-direction: column;
		align-content: center;
		padding-bottom: 0px;
	}
	
	.header-nav li {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	#website-logo {
		height: 40px;
	}
}

/* main section */

main {
	margin-top: 94px;
}

section {
	padding: 100px 25px 0px 25px;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

section:first-child {
	padding-top: 10px;
}

.element {
	position: absolute;
	width: 1920px;
	right: 0px;
	margin-top: 25px;
}

/* homepage */

.homepage-container-main {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-direction: row;
}

.homepage-container-inner {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
}

.homepage-container-inner:first-child {
	width: 30%;
}

.homepage-container-inner:last-child {
	width: 60%;
}

@media screen and (max-width: 900px){
	.homepage-container-inner {
		align-items: center;
	}
	
	.homepage-container-inner:first-child {
		margin-bottom: 50px;
		width: 100%;
	}
	
	.homepage-container-inner:last-child {
		width: 100%;
	}
	
	.homepage-container-main {
		flex-direction: column;
	}
}

/* logo animation classes */

.st0 {fill:none;stroke:#7FC144;stroke-miterlimit:10;}
.st1 {fill:none;stroke:#E1E1E1;stroke-miterlimit:10;}
.st2 {fill:#7FC144;}
.st3 {fill:#E1E1E1;}
.st4 {fill:url(#glow_1_);}

/* gallery */

#gallery-title {
	margin-bottom: 25px;
}

.gallery-nav {
	display: flex;
	justify-content: center;
	max-width: 600px;
	font-family: "Bebas neue";
	margin: 0 auto;
}

.gallery-nav a {
	margin: 0px 25px 0px 25px;
	cursor: pointer;
	font-weight: 400;
}

.gallery-btn-active {
	color: #7ec145;
}

@media screen and (max-width: 450px) {
	.gallery-nav a {
		margin: 0px 10px 0px 10px;
	}
}

.gallery-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 90px;
	opacity: 0;
	transition: opacity 1s;
}

#photography-container {
	opacity: 1;
}

#svg-container, #ads-container, #uxui-container {
	display: none;
}

.gallery-image {
	width: 19%;
	object-fit: contain;
	margin-bottom: 50px;
	transition: opacity 0.5s;
	cursor: pointer;
}

.gallery-image:hover {
	opacity: 0.75;
}

@media screen and (max-width: 1300px) {
	.gallery-image {
		width: 32%;
	}
}

@media screen and (max-width: 900px) {
	.gallery-image {
		width: 48%;
	}
}

.image {
	width: 100%;
}

.modal-image-after, .modal-image-before {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s;
}

.modal {
	display: none;
	position: fixed;
	z-index: 20;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(23,29,30,0.75);
}

.modal-content {
	position: relative;
	margin: 100px;
}

@media screen and (max-width: 705px) {
	.modal-content {
		margin: 100px 20px 100px 20px;;
	}
}

.modal-close-btn, .modal-before-btn, .modal-after-btn {
	position: absolute;
	margin: 25px;
	top: 0px;
	cursor: pointer;
	padding: 10px;
	background-color: #1d2223;
}

.modal-close-btn {
	right: 0px;
}

.modal-before-btn, .modal-after-btn {
	left: 0px;
}

.modal-after-btn {
	display: none;
}

.modal-a {
	opacity: 0.5;
}

/* skills */

.skill-container-main {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-direction: row;
	padding-top: 50px;
}

.skill-container-inner {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 45%;
}

.skill-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.skill-container:last-child {
	padding-bottom: 0px;
}

.skill-title {
	margin-bottom: 25px;
	width: 100%;
	text-align: left;
}

.skill-outline {
	width: 100%;
	height: 25px;
	border: 1px solid #7ec145;
}

.skill-fill {
	width: 80%;
	height: 100%;
	background-color: #7ec145;
}

#skill-photoshop {
	width: 95%;
}

#skill-illustrator {
	width: 95%;
}

#skill-premier {
	width: 75%;
}

#skill-uxui {
	width: 75%;
}

#skill-html {
	width: 75%;
}

#skill-css {
	width: 75%;
}

#skill-svg {
	width: 75%;
}

#skill-js {
	width: 50%;
}

@media screen and (max-width: 705px){
	.skill-container-inner {
		width: 100%;
	}
	
	.skill-container-main {
		flex-direction: column;
	}
	
	.skill-container:last-child {
		padding-bottom: 50px;
	}
	
	#skill-container-last {
		padding-bottom: 0px;
	}
}

/* clients */

.clients-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.client {
	display: flex;
	max-width: 250px;
	object-fit: contain;
	margin: 25px;
}

.client-logo {
	position: relative;
	width: 250px;
	max-height: 100px;
	opacity: 0.75;
	transition: opacity 0.5s;
}

.client-logo:hover {
	opacity: 1;
}

@media screen and (max-width: 605px) {
	.clients-container {
		flex-direction: column;
		align-items: center;
	}
	
	.client {
		margin: 40px;
	}
}

/* contacts */

.contacts-container {
	display: flex;
	padding-bottom: 50px;
	flex-direction: column;
	align-items: center;
}

.social-media-icons-container {
	display: flex;
	max-width: 500px;
	justify-content: space-between;
}

.social-media-icons {
	width: 30px;
	height: 30px;
	opacity: 0.75;
	transition: opacity 0.5s;
}

.social-media-icons:hover {
	opacity: 1;
}

.social-media {
	margin-top: 100px;
	width: 240px;
}

/* footer */

#footer {
	display: flex;
	width: 100%;
	background-color: #171d1e;
}

.footer-container {
	display: flex;
	position:relative;
	width: 100%;
	margin: 0 auto;
	padding: 25px;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.copyright {
	opacity: 0.75;
}






