html {
  scroll-behavior: smooth;
  height: 100%;
}

* {
  scrollbar-width: thin;
}

@font-face {
  font-family: "Bebas neue";
  src: url("static/fonts/BebasNeue-Bold.otf");
  src: url("static/fonts/BebasNeue-Bold.otf") format("woff2"), url("static/fonts/BebasNeue-Bold.otf") format("woff"), url("static/fonts/BebasNeue-Bold-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Titillum web";
  src: url("static/fonts/TitilliumWeb-Regular.ttf");
  src: url("static/fonts/TitilliumWeb-Regular.ttf") format("woff2"), url("static/fonts/TitilliumWeb-Regular.ttf") format("woff"), url("static/fonts/TitilliumWeb-Regular.ttf") format("truetype");
}

/*
 ** Main styles
 */
body {
  background-color: #20242c;
  color: #e2e2e2;
  margin: 0px;
  font-family: "Titillium web";
  height: 100%;
}

a {
  text-decoration: none;
  color: #f95c1e;
}

ul {
  list-style: none;
  padding: 0px;
}

main {
  height: 100%;
}

section {
  position: relative;
  -webkit-box-shadow: 0px 5px 75px #141516;
          box-shadow: 0px 5px 75px #141516;
}

h1 {
  font-family: "Bebas neue";
  font-size: 4rem;
  margin: 0px;
  text-align: center;
  font-weight: 400;
}

h3 {
  font-family: "Bebas neue";
  margin: 0px;
  text-align: center;
  font-weight: 400;
}

p {
  text-align: center;
  font-size: 1rem;
  margin: 0px;
}

span {
  color: #f95c1e;
}

h1, h3 {
  text-shadow: 0px 5px 10px #141516;
}

.subtitle {
  opacity: 0.825;
}

.subtitle-about {
  margin-bottom: 50px;
  text-align: left;
}

.subtitle-about:last-child {
  margin-bottom: 0px;
}

/*
 ** Parallax
 */
.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-header {
  position: relative;
  max-width: 90%;
  left: 0;
  top: calc(50% - 75px);
  margin: 0 auto;
}

#parallax_image_one {
  background-image: url("static/gallery.jpg");
}

#parallax_image_two {
  background-image: url("static/skills.jpg");
}

#parallax_image_three {
  background-image: url("static/about.jpg");
}

#parallax_image_four {
  background-image: url("static/contacts.jpg");
}

/*
 ** Header & Footer
 */
.header-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #141516;
}

.header-footer-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 200px;
  height: auto;
  margin: 25px;
}

.logo {
  width: 200px;
}

/*
 ** Navigation
 */
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-item {
  margin-right: 50px;
}

.nav-item:last-child {
  margin-right: 0px;
}

.nav-item > a {
  font-family: "Bebas neue";
  font-size: 1.5rem;
  font-weight: 400;
  color: #e2e2e2;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.nav-item > a:hover {
  color: #f95c1e;
}

/*
 ** Page containers
 */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

/*
 ** Gallery
 */
.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

#container_inner_gallery {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  max-width: 100%;
  margin-top: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.gallery-image:hover {
  opacity: 0.5;
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background: #20242c;
  opacity: 0.75;
  z-index: 100;
}

/*
 ** Skills
 */
#container_inner_skills {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.skill-icon {
  width: 35px;
  margin: 20px 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 1;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 5px 10px #141516;
          box-shadow: 0px 5px 10px #141516;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  width: 21%;
  margin-bottom: 50px;
}

.card:hover {
  -webkit-box-shadow: 0px 10px 20px #141516;
          box-shadow: 0px 10px 20px #141516;
}

.card:hover .skill-icon {
  opacity: 0.5;
}

.card-info {
  padding: 20px;
}

.skill-title {
  text-align: left;
}

.skill-subtitle {
  text-align: left;
  opacity: 0.75;
}

.skill-subtitle > a {
  color: #f95c1e;
  font-weight: 600;
}

.skill-chart {
  height: 2px;
  background-color: #f95c1e;
}

.skill-chart#photoshop_chart {
  width: 95%;
}

.skill-chart#illustrator_chart {
  width: 90%;
}

.skill-chart#premiere_pro_chart {
  width: 75%;
}

.skill-chart#after_effects_chart {
  width: 65%;
}

.skill-chart#uxui_chart {
  width: 85%;
}

.skill-chart#front_end_chart {
  width: 75%;
}

.skill-chart#svg_chart {
  width: 85%;
}

.skill-chart#graphic_design_chart {
  width: 85%;
}

/*
 ** About
 */
#about h3 {
  text-align: left;
  margin-bottom: 25px;
}

/*
 ** Contacts
 */
.contacts-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 215px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-icon {
  width: 35px;
  cursor: pointer;
  margin-top: 50px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0.5;
}

.contacts-icon:hover {
  opacity: 1;
}

/*
 ** Buttons
 */
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #20242c;
  -webkit-box-shadow: 0px 5px 10px #141516;
          box-shadow: 0px 5px 10px #141516;
  padding: 12px;
  border: none;
  cursor: pointer;
  color: #e2e2e2;
  font-family: "Bebas neue";
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.5;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  display: none;
  outline: none;
  z-index: 10;
}

.back-to-top:hover {
  color: #f95c1e;
  opacity: 1;
}

/*
 ** Media query
 */
@media (max-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
  /* header */
  .header-footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-nav {
    margin: 0px 25px 0px 25px;
  }
  .nav-item {
    margin-bottom: 25px;
  }
  .nav-item > a {
    font-size: 1.25rem;
  }
  .nav-item,
  .nav-item:last-child {
    margin-right: 10px;
    margin-left: 10px;
  }
  /* gallery */
  #container_inner_gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery-container {
    width: 100%;
  }
  .gallery-image:last-child {
    margin-bottom: 50px;
  }
  .card {
    width: 47%;
  }
}

@media (max-width: 500px) {
  .card {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */